.display-record-number{
    font-weight: 600;
}

.footer{
    padding: 15px 20px 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    user-select: none;
}
  
.navigation .navigation-page-number{
    margin: 0 2px;
    font-size: 15px;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: rgb(188, 188, 188);
}

.navigation .navigation-page-number:hover {
    cursor: pointer;
    color: #fff;
    background-color: #2fbe8e;
}

.navigation .navigation-page-number.current-page{
    background-color: #981b0d;
    color: white;
}

.control-page{
    font-size: 20px;
    margin: 0 20px;
}

.control-page:hover{
    color: #2fbe8e;
}

.space-page-btn{
    margin: 0 5px;
    font-size: 30px;
}